* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.table__wrapper {
  width: 100%;
  overflow: auto;
}

.general__table {
  width: 100%;
  min-width: 900px;
}
.general__table .thead {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
}
.general__table .tbody {
  width: 100%;
}
.general__table .mr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.general__table .mr .tr button {
  transition: all 0.3s;
}
.general__table .mr .tr button.sub__active {
  transform: rotate(-180deg);
}
.general__table .mr.has-child .tr button {
  display: block;
}
.general__table .mr.no-child .tr button {
  display: none;
}
.general__table .mr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.general__table .tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.general__table .tbody .mr .tr:hover {
  background-color: #1a1a1a;
  color: #ffffff;
}
.general__table .tbody .mr .tr:hover button,
.general__table .tbody .mr .tr:hover a,
.general__table .tbody .mr .tr:hover span {
  color: #ffffff;
}
.general__table .sub__table__wrapper {
  padding: 15px;
  display: none;
  transition: all 0.3s;
  background-color: #fff !important;
}
.general__table .th {
  width: 100%;
  padding: 6px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.general__table .th.limited {
  max-width: 60px;
}
.general__table .td {
  width: 100%;
  padding: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.general__table .td.limited {
  max-width: 60px;
}
.general__table .mr.sortable-selected > .tr:first-child {
  background-color: #1a1a1a !important;
  color: #ffffff;
}
.general__table .mr.sortable-selected > .tr:first-child button,
.general__table .mr.sortable-selected > .tr:first-child a,
.general__table .mr.sortable-selected > .tr:first-child span {
  color: #ffffff;
}
.general__table .mr.sortable-selected > .tr:first-child .checkbox__item {
  background-color: #0075FF !important;
}
.general__table .mr.sortable-selected > .tr:first-child .checkbox__item i {
  display: block !important;
}
.general__table .checkbox__item {
  width: 15px;
  height: 15px;
  border: 1px solid #767676;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 2px;
  margin: auto 0;
  background-color: #fff;
  color: #fff;
}
.general__table .checkbox__item i {
  display: block;
}
.general__table .checkbox__item.select__all.check__active {
  background-color: #0075FF !important;
}
.general__table .checkbox__item.select__all.check__active i {
  display: block !important;
}

.table__button__rows {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
.table__button__rows.active {
  display: flex;
}
.table__button__rows .table__button {
  padding: 6px 25px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table__button__rows .table__button__delete {
  background-color: #dc3545;
  color: #fff;
}/*# sourceMappingURL=styles.css.map */